@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html{
  margin: 0px;
}

body{
  font-family: "Lato", sans-serif;
  margin: 0px;
  background: #FBFBFB;
}

.text-thin {
  font-weight: 100;
  font-style: normal;
}

.text-light {
  font-weight: 300;
  font-style: normal;
}

.text-regular {
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-weight: 700;
  font-style: normal;
}

.text-black {
  font-weight: 900;
  font-style: normal;
}

.text-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.text-light-italic {
  font-weight: 300;
  font-style: italic;
}

.text-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.text-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.text-black-italic {
  font-weight: 900;
  font-style: italic;
}


.drop-shadow{
  /* box-shadow: -2px 0px 12px -2px #F9F9F999 !important; */
  box-shadow: 0px -2px 12px -2px #ECECEC99 !important;
  border:none !important;
}

.text-primary{
  color: #377DFF;
}

.primary-radius{
  border-radius: 12px;
}

.primary-radius-1{
  border-radius: 24px;
}

.text-14{
  font-size: 14px;
} 
.text-16{
  font-size: 16px;
}

.text-grey{
  color: #5D6679 !important;
}

.ant-table-thead  .ant-table-cell {
  background-color: #fff !important; /* Change background color as needed */
}

.custom-tag{
  background: white !important;
  padding: 0.25rem 0.5rem;
  border-radius: 24px;
  font-size: 14px;
  color: #5D6679 !important;
}

.status-tag{
  border: 1px solid #CED4DA;
  padding: 16px;
  border-radius: 8px;
  min-width: 120px;
}

.status-tag-selected{
  min-width: 120px;

  border: 1px solid #333333;
  padding: 16px;
  border-radius: 8px;
}